{% extends 'base.html.twig' %}

{% block title %}VisitType index{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full flex flex-col">
        <h1 class="mb-20 text-4xl">VisitType index</h1>

    <table class="mb-5 table border-separate border border-slate-500">
        <thead>
            <tr>
                <th class="p-5 border">Id</th>
                <th class="p-5 border">Label</th>
                <th class="p-5 border">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visitType in visitTypes %}
            <tr>
                <td class="p-5 border">{{ visitType.id }}</td>
                <td class="p-5 border">{{ visitType.label }}</td>
                <td class="p-5 border flex flex-col">
                    <a href="{{ path('app_visit_type_show', {'id': visitType.id}) }}" 
                    class="px-5 py-2 mb-2 w-full text-center bg-gray-300 rounded-md shadow-xl hover:bg-gray-400">show</a>
                    <a href="{{ path('app_visit_type_edit', {'id': visitType.id}) }}"
                    class="px-5 py-2 w-full text-center bg-blue-300 rounded-md shadow-xl hover:bg-blue-400">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="px-5 py-2 bg-green-300 rounded-md shadow-xl hover:bg-green-400 w-max"
    href="{{ path('app_visit_type_new') }}">Create new</a>
{% endblock %}
