{% extends 'base.html.twig' %}

{% block title %}VisitType{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full flex flex-col">
        <h1 class="mb-20 text-4xl">VisitType</h1>

        <table class="mb-5 table border-separate border border-slate-500">
            <tbody>
                <tr>
                    <th class="p-5 border">Id</th>
                    <td class="p-5 border">{{ visitType.id }}</td>
                </tr>
                <tr>
                    <th class="p-5 border">Label</th>
                    <td class="p-5 border">{{ visitType.label }}</td>
                </tr>
                <tr>
                    <th class="p-5 border">Measures</th>
                    <td class="p-5 border">
                        <ul>
                            {% for measure in visitType.measures %}
                                <li>
                                    <a href="{{ path('app_measure_show', { id: measure.id }) }}"
                                    class="text-blue-600">- {{ measure }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    <div>
        <a href="{{ path('app_visit_type_edit', {'id': visitType.id}) }}"
        class="px-5 py-2 bg-blue-300 rounded-md shadow-xl hover:bg-blue-400 w-max">edit</a>
        <a href="{{ path('app_visit_type_index') }}"
        class="ml-5 text-blue-600">back to list</a>
    </div>

        {{ include('visit_type/_delete_form.html.twig') }}
    </div>
{% endblock %}
