{% extends 'base.html.twig' %}

{% form_theme registrationForm '_forms.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full lg:w-2/5 m-auto">
        <h1 class="mb-20 text-4xl">Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="px-5 py-2 bg-gray-300 rounded-md 
            shadow-xl hover:bg-gray-400">
                Register
            </button>
            <a href="{{ path('app_login') }}" class="ml-5 text-blue-600">Login !</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
