<h1>{{ report.visitType.label }}</h1>
<h2>{{ report.createdAt|date('Y-m-d') }}</h2>
<table class="test-css">
    <tr>
        <th>Cotes</th>
        <th>Voie Directe</th>
        <th>Valeur théorique</th>
        <th>Tolérences (mm)</th>
    </tr>
    {% for value in report.values %}
        <tr>
            <td>{{ value.measure.label }}</td>
            {% if value.value < value.measure.theoreticalValue - value.measure.minValue or 
            value.value > value.measure.theoreticalValue + value.measure.maxValue %}
                <td style="background-color: orange;">{{ value.value }}</td>
            {% else %}
                <td>{{ value.value }}</td>                                        
            {% endif %}
            <td>{{ value.measure.theoreticalValue }}</td>
            <td>-{{ value.measure.minValue }} +{{ value.measure.maxValue }}</td>
        </tr>
    {% endfor %}
</table>