{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="py-5 px-10 w-full flex flex-col">
        <h1 class="mb-20 text-4xl">User</h1>

        <table class="mb-5 table border-separate border border-slate-500">
            <tbody>
                <tr>
                    <th class="p-5 border">Id</th>
                    <td class="p-5 border">{{ user.id }}</td>
                </tr>
                <tr>
                    <th class="p-5 border">Email</th>
                    <td class="p-5 border">{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="p-5 border">Roles</th>
                    <td class="p-5 border">{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" 
            class="px-5 py-2 bg-blue-300 rounded-md shadow-xl hover:bg-blue-400 w-max">edit</a>

            <a href="{{ path('app_user_index') }}" class="ml-5 text-blue-600">back to list</a>
        </div>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
